<html>
    <head>

    </head>
    <body>
        <!-- for production
        <script src="https://cdn.jsdeliver.net/net/npm/vue"></script>
        -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="data/segments.js"></script>
        <script src="data/songs.js"></script>
        <script src="data/tags.js"></script>
        <script src="data/tags_pred.js"></script>
        <script src="data/pred_naul1_mix.js"></script>
        <script src="data/pred_naul1_song_mix.js"></script>
        <script src="data/pred_sohyang2_mix.js"></script>
        <script src="data/pred_sohyang2_song_mix.js"></script>
        <script src="data/mean_song_ratings.js"></script>
        <style>
        .rotate {

            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

        }
        </style>
        <script>
            var demoPredictionData = [];
            window.onload = function() {
                var segmentListApp = new Vue({
                    el: '#segmentList',
                    data: {
                        segments: segments,
                    },
                });
                var similarSongsApp = new Vue({
                    el: '#similarSongs',
                    data: {
                        songs: songs,
                        similarSongs: [],
                        selectedSong: '',
                    },
                    methods: {
                        showSimilarSongs: function(event) {
                            this.similarSongs = findSimilarSongs(event.target.value);
                        },
                    },
                });

                initDemo();

                window.requestAnimationFrame(draw);
            };

            function initDemo() {
                demoPredictionData[0] = [pred_naul1_seg, pred_naul1_song];
                demoPredictionData[1] = [pred_sohyang2_seg, pred_sohyang2_song];
                
                for (var demo_id = 0; demo_id < 2; demo_id++) {
                    for (var demoGraphType = 0; demoGraphType < 2; demoGraphType++) {
                        var predDiv = document.getElementById('predictionGraph' + demo_id + '_' + demoGraphType);
                        for (var i = 0; i < 42; i ++) {
                            var span = document.createElement('span');
                            span.id = 'graphBar' + demo_id + '_' + demoGraphType + '_' + i;
                            span.style.backgroundColor = 'lightgray';
                            span.style.position = 'absolute';
                            span.style.left = 20 * i + 'px';
                            span.style.width = '16px';
                            span.style.bottom = 0;
                            span.style.transition = 'height 0.5 linear';
                            predDiv.appendChild(span);

                            span = document.createElement('span');
                            span.innerText = tags_pred[i];
                            span.style.position = 'absolute';
                            span.style.left = -90 + 20 * i + 'px';
                            span.style.width = '200px';
                            span.style.height = '20px';
                            span.style.bottom = '100px';
                            span.className = 'rotate';
                            span.style.fontSize = '8px';
                            predDiv.appendChild(span);
                        }
                    }
                }
            }

            // code from https://stackoverflow.com/questions/51362252/javascript-cosine-similarity-function
            function cosineSimilarity(A, B){
                var dotproduct=0;
                var mA=0;
                var mB=0;
                for(i = 0; i < A.length; i++){
                    dotproduct += (A[i] * B[i]);
                    mA += (A[i] * A[i]);
                    mB += (B[i] * B[i]);
                }
                mA = Math.sqrt(mA);
                mB = Math.sqrt(mB);
                return dotproduct / (mA * mB);
            }

            function findSimilarSongs(songIndex) {
                var sim = mean_song_ratings.map(function(item, index, array) {
                    if (index == songIndex) {
                        return 0;
                    } else {
                        return cosineSimilarity(array[songIndex], item);
                    }
                });

                var similarSongIndices = sortWithIndices(sim);
                var mostSimilarSongs = [];
                for(var i = 0; i < 10; i++) {
                    mostSimilarSongs.push(songs[similarSongIndices[i]]);
                }
                return mostSimilarSongs;
            }

            function sortWithIndices(array) {
                var arrayWithIndex = [];
                for (var i = 0; i < array.length; i++) {
                    arrayWithIndex.push([array[i], i]);
                }
                arrayWithIndex.sort(function(left, right) {
                    return left[0] > right[0] ? -1 : 1;
                });
                var sortedIndices = [];
                for (var i = 0; i < arrayWithIndex.length; i++) {
                    sortedIndices.push(arrayWithIndex[i][1]);
                }
                return sortedIndices;
            }

            function draw() {
                for(var demo_id = 0; demo_id < 2; demo_id++) {
                    if (!document.getElementById('predictionAudio' + demo_id).paused) {
                        drawPredictionGraph(demo_id)
                    }
                }
                window.requestAnimationFrame(draw);
            }

            function drawPredictionGraph(demo_id) {
                var t = document.getElementById('predictionAudio' + demo_id).currentTime;
                var n = Math.floor(t / (10 / 43));
                for (var demoGraphType = 0; demoGraphType < 2; demoGraphType++) {
                    var v = demoPredictionData[demo_id][demoGraphType][n];
                    for(var i = 0; i<42; i++) {
                        document.getElementById('graphBar' + demo_id + '_' + demoGraphType + '_' + i).style.height = 200 * v[i];
                    }
                }
            }
            
        </script>

        <div class="container">
            <div class="row">
                <div class="col my-3">
                    <h2>
                        K-pop Singing Voice Tag Dataset (KVT dataset)
                    </h2>
                </div>
            </div>
            <ul class="nav nav-tabs col-12" id="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="datafiles-tab" data-toggle="tab" href="#datafiles" role="tab" aria-controls="datafiles" aria-selected="false">Data Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="segments-tab" data-toggle="tab" href="#segments" role="tab" aria-controls="segments" aria-selected="false">Segments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sample Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="examples-tab" data-toggle="tab" href="#examples" role="tab" aria-controls="examples" aria-selected="false">Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="demos-tab" data-toggle="tab" href="#demos" role="tab" aria-controls="demos" aria-selected="false">Demos</a>
                </li>
            </ul>
            <div class="tab-content col-12 my-2" id="tabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    
                    <h3 class="my-3">
                        TL;DR
                    </h3>
                    <div>
                        KVT dataset provides semantic labels of singing voices from K-pop songs.
                    </div>
                    <h3 class="my-3">
                        Notable Features
                    </h3>
                    <ul>
                        <li>K-pop songs!</li>
                        <li>Tags are about singing voices.</li>
                        <li>Ratings are collected from a survey, not mined from social data.</li>
                        <li>Each rating is about a 10-second-long segment with vocal presence.</li>
                    </ul>
                    <h3 class="my-3">
                        Note
                    </h3>
                    <div>
                        Due to copyright issue, we don't provide audio data. 
                        Instead, we are adding links to music content provider(including Youtube) for each song.
                        Also you can download mfcc data of our audio data, which can be used to check if your version of audio data is consistent to ours. 
                    </div>
                </div>
                <div class="tab-pane fade" id="datafiles" role="tabpanel" aria-labelledby="datafiles-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>.pkl</th>
                                <th>.json</th>
                                <th>.js</th>
                                <th>others</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>artists</td>
                                <td><a href="data/artists.pkl">artists.pkl</a></td>
                                <td><a href="data/artists.json">artists.json</a></td>
                                <td><a href="data/artists.js">artists.js</a></td>
                            </tr>
                            <tr>
                                <td>tags</td>
                                <td><a href="data/tags.pkl">tags.pkl</a></td>
                                <td><a href="data/tags.json">tags.json</a></td>
                                <td><a href="data/tags.js">tags.js</a></td>
                            </tr>
                            <tr>
                                <td>segments</td>
                                <td><a href="data/songs.pkl">songs.pkl</a></td>
                                <td><a href="data/songs.json">songs.json</a></td>
                                <td><a href="data/songs.js">songs.js</a></td>
                                <td><a href="data/songs.tsv">songs.tsv (v. 0.1)</a></td>
                            </tr>
                            <tr>
                                <td>segments</td>
                                <td><a href="data/segments.pkl">segments.pkl</a></td>
                                <td><a href="data/segments.json">segments.json</a></td>
                                <td><a href="data/segments.js">segments.js</a></td>
                            </tr>
                            <tr>
                                <td>ratings</td>
                                <td><a href="data/ratings.pkl">ratings.pkl</a></td>
                                <td><a href="data/ratings.json">ratings.json</a></td>
                                <td><a href="data/ratings.js">ratings.js</a></td>
                                <td><a href="data/ratings.npy">ratings.npy</a></td>
                            </tr>
                            <tr>
                                <td>mean song ratings</td>
                                <td><a href="data/mean_song_ratings.pkl">mean_song_ratings.pkl</a></td>
                                <td><a href="data/mean_song_ratings.json">mean_song_ratings.json</a></td>
                                <td><a href="data/mean_song_ratings.js">mean_song_ratings.js</a></td>
                                <td><a href="data/mean_song_ratings.npy">mean_song_ratings.npy</a></td>
                            </tr>
                            <tr>
                                <td>mfcc</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="data/mfcc.zip">mfcc.zip</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <h3 class="my-3">
                        Data files
                    </h3>
                    <div>
                        Data files in the above table contain all the important data except audio files. 
                    </div>

                    <h3 class="my-3">
                        Audio files
                    </h3>
                    <div>
                        We're updating links to music content providers for each songs in "Songs" section and "songs.tsv" file. 
                        You may buy or download audio data from specified links.
                        For segmentation, "segments.*"" files contain offset information.
                        For validation, you can consult "mfcc.zip", which contains MFCC data of our version of segment audio files.
                    </div>

                    <h3 class="my-3">
                        File formats
                    </h3>
                    <div>
                        <ul>
                            <li>
                                .pkl files are pickle dump of Python dict object.
                                We used Python3 in the process.
                                If you're using Python2, it will be much easier to read .json files and use json module to parse them.
                            </li>
                            <li>
                                .json files contain data in JSON format, and .js files contain "var VARNAME = " and what their .json counterparts have.
                                You can imnport .js files in HTML. This page, for example, uses "segments.js" to make list of semgents in the "Segments" tab with Vuejs.
                            </li>
                            <li>
                                ratings.npy file contain a numpy array. The order of tags are in tag files.
                            </li>
                            <li>
                                Unlike other songs files, songs.tsv contains links to content providers only and will be frequently updated. 
                            </li>
                        </ul>
                    </div>

                    <h3 class="my-3">
                        Note
                    </h3>
                    <div>
                        <ul>
                            <li>
                                Currently, song titles and artist names are mostly in Korean(unicode string). 
                                We're trying to match official English titles and names now. 
                                English versions will be added after the process.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="segments" role="tabpanel" aria-labelledby="segments-tab">
                    <div id="segmentList">
                        <table class="table">
                            <tr>
                                <th>segID</th>
                                <th>title</th>
                                <th>artist</th>
                                <th>offset</th>
                            </tr>
                            <tr v-for="segment in segments">
                                <td>{{ segment.segID }}</td>
                                <td>{{ segment.title }}</td>
                                <td>{{ segment.artist }}</td>
                                <td>{{ segment.offset }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="examples" role="tabpanel" aria-labelledby="examples-tab">

                    <div id="similarSongs">
                        <h3 class="my-3">
                            Song Retrieval
                        </h3>
                        <h5 class="my-2">
                            Query song
                        </h5>
                        <select v-model="selectedSong" v-on:change="showSimilarSongs">
                            <option disabled value="">Please select one</option>
                            <option v-for="(song, index) in songs" :value="index">{{song[0]}} - {{song[1]}}</option>
                        </select>
                        <h5 class="my-2">
                            Similar songs
                        </h5>
                        <ol>
                            <li v-for="song in similarSongs">
                                {{song[0]}} - {{song[1]}}
                            </li>
                        </ol>
                        <h5 class="my-2">
                            Note
                        </h5>
                        <div>

                            You can find songs from the same artist are listed in similar songs. <br>
                            Similarity between two songs can be calculated by cosine similarity of mean ratings for each song from their segment ratings respectively.
                            We used precaluated cosine similarity from "mean_song_ratings.js" here. <br>
                            Check the source code of this page to see how similar songs are retrieved.
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="demos" role="tabpanel" aria-labelledby="demos-tab">
                    <div id="predictionDiv">
                        <h3 class="my-3">
                            Prediction Demo
                        </h3>
                        <h4>
                            NAUL - Memory of The Wind
                        </h4>
                        <audio id='predictionAudio0' controls src='data/naul1_segment.wav'></audio>
                        <h5>Model trained with segment-level labels</h5>
                        <div id="predictionGraph0_0" style="height:200px; width:840px;position:relative;">
                            
                        </div>
                        <h5>Model trained with song-level labels</h5>
                        <div id="predictionGraph0_1" style="height:200px; width:840px;position:relative;">
                            
                        </div>
                        <hr>
                        
                        <h4>
                            Sohyang - Fate
                        </h4>
                        <audio id='predictionAudio1' controls src='data/sohyang2_segment.wav'></audio>
                        <h5>Model trained with segment-level labels</h5>
                        <div id="predictionGraph1_0" style="height:200px; width:840px;position:relative;">
                            
                        </div>
                        <h5>Model trained with song-level labels</h5>
                        <div id="predictionGraph1_1" style="height:200px; width:840px;position:relative;">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>